*{
    margin: 0%;
    padding: 0%;
  
};
body{
    background-color: grey;
    overflow-x: hidden;
    height: 90vh;
    
}
h2{
text-transform: capitalize;
color: red;
font-size: 300%;

text-align: center;

}
h1{
    font-size: 300%;
    
    text-transform: capitalize;
    text-align: center;

}
img{
    margin-left: 25%;
    width: 50vw;
    height: 80vh;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 5%;
}

span {
    color: rebeccapurple;
}