*{
    margin: 0%;
    padding: 0%;
  
}
body{
    background-color: greenyellow;
    overflow-x: hidden;
    min-height: 150vh;
    background-image: url(https://images.pexels.com/photos/2832026/pexels-photo-2832026.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
h2{
text-transform: capitalize;

font-size: 300%;

text-align: center;
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,140,253,1) 50%, rgba(252,176,69,1) 100%);

 background-clip: text;
 color: transparent;


}



img{
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 25rem;
    border-radius: 100%;

    margin-top: 5%;
    
}

img:not(:last-child) {
    padding-right: 30px;
}

#header{
    color: blue;
}


#header{
    
    text-align: center;
    text-decoration: wavy;
    color: red;
    font-size: 500%;

}

.wrapper{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,140,253,1) 50%, 
rgb(252, 69, 69) 100%);
    color: transparent;
    background-clip: text;
    text-align: center;
    text-decoration: dotted;
    text-transform: capitalize;

}
.pics{
    display: flex;
    justify-content: center;
}
p{
    
    font-size: 300%;
}
.miniso {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: azure;
  }
  table{
    width: 80%;
    font-size: 200%;
    color: #EDF7D2;
    border: 1px solid #EDF7D2;


  }

  table tr>td {
    text-align: center;
    border: 1px solid #EDF7D2;

  }
  thead tr>th {
    border: 1px solid #EDF7D2;

  }
  .table{
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
  

    
  
